
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>@RsShared.Welcome.Replace("{name}",@Context.Session.GetString("Name"))</h2>

<span>@RsPatient.YourGuardians</span>
<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        @foreach (TblNonPatientData guardian in ViewBag.Guardians)
        {
        <tr>
            <td>@guardian.FirstName</td>
            <td>@guardian.LastName</td>
        </tr>
        }
    </tbody>
</table>