html, body {
    height: 100%;
    font-family: "Arial Rounded MT Bold";
    color: rgb(94, 32, 90);
    background-image: url("../img/persona-durmiendo-greyscale.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-aura-dark {
    background-color: rgb(20, 0, 20);
}

.color-login {
    color: rgb(94, 32, 90);
}

.contenido {
    padding-top: 50px;
}

.foto-derecha {
    padding-right: 0px;
    margin-right: 0px;
}

.btn {
    background-color: rgb(163, 46, 155);
    border: none;
    color: white;
}

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
    }

.acceder-link {
    color: rgb(94, 32, 90);
    font-size: 20px;
    margin: 5px;
}

    .acceder-link:hover {
        color: rgb(163, 46, 155);
        text-decoration: none;
    }

.btn:hover {
    background-color: rgb(94, 32, 90);
    color: white;
}

.texto-landing {
    font-size: 20px;
}

.jumbotron-aura {
    border-style: solid;
    background: rgba(204, 204, 204, 0.5);
}

/*Logo*/
/* Small. Above 34em (544px) */
@media screen and (min-width: 34em) {
    .img-logo {
        width: 200px;
    }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
    .img-logo {
        width: 200px;
    }
}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {
    .img-logo {
        width: 300px;
    }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
    .img-logo {
        width: 300px;
    }
}
