
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>@RsShared.Welcome.Replace("{name}",@Context.Session.GetString("Name"))</h2>

<span>@RsNonPatient.YourPatients</span>
<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        @foreach (TblPatientData patient in ViewBag.Patients)
        {
        <tr>
            <td>@patient.FirstName</td>
            <td>@patient.LastName</td>
        </tr>
        }
    </tbody>
</table>