<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aura</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Estilo.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="/img/AuraLogoNoBG.png" height="120" class="d-inline-block align-top img-logo" alt="">
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Debo arreglar la chanchada de abajo luego, no debería poner dos veces lo mismo -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (Session["UsuarioId"] == null)
            {
                <!-- En pantalla normal -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item d-none d-md-block">
                        <a class="btn btn-primary" href="/Home/Registro" role="button">Registrarse</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="acceder-link" href="/Home/Login">Iniciar sesión</a>
                    </li>
                </ul>
                <!-- En pantalla chica -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-lg-none d-md-none">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/Home/Registro" role="button">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="acceder-link" href="/Home/Login">Iniciar sesión</a>
                    </li>
                </ul>
            }
            else
            {
                <!-- En pantalla normal -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item d-none d-md-block">
                        <a class="acceder-link" href="/Home/Logout">Cerrar sesión</a>
                    </li>
                </ul>
                <!-- En pantalla chica -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-lg-none d-md-none">
                    <li class="nav-item">
                        <a class="acceder-link" href="/Home/Logout">Cerrar sesión</a>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>