
@{
    ViewBag.Title = "Index";
}

<div class="contenido color-bg-light">
    <div class="container-fluid">
        <div class="row">
            <section class="col-md-6 offset-md-6">
                <br>
                <p class="text-justify texto-landing"><b>Una aplicación para dispositivos móviles orientada a pacientes de epilepsia. Detectamos tus episodios durante el sueño y emitimos una alerta a personas de tu confianza para que nunca estes solo.</b></p>
                <div>
                    <button type="button" class="btn mb-3 mt-5 col-lg-6 float-right">Descargar Aura gratis</button>
                </div>
            </section>
        </div>
    </div>
</div>

