
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Clickeame para algunas explicaciones :D", "Leeme", "Home")

<br />
<br />
<br />

<p>
    - Imagino que el user sin logearse ve info de la App y tiene acceso a las opciones de Login y Registro.
    <div/>
    - El user logeado no vería esas opciones, pero si la de su perfil y la configuración de rol.
</p>

