USE [DB_A4EFB7_aura]
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 11/11/2019 20:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Tipo_Alerta] [int] NULL,
	[Id_Usuario_Paciente] [bigint] NOT NULL,
	[Id_Usuario_Tutor] [bigint] NOT NULL,
	[Tiempo] [datetime] NULL,
	[Notas] [varchar](max) NULL,
 CONSTRAINT [PK_Alerta_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PacienteId] [bigint] NULL,
	[Nombre] [varchar](max) NULL,
	[PeriodicidadHoras] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[UltimaVez] [datetime] NULL,
 CONSTRAINT [PK_Medicacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_Episodio]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_Episodio](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Duracion] [decimal](6, 2) NULL,
	[Id_Usuario] [bigint] NOT NULL,
 CONSTRAINT [PK_Registro_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Numero] [varchar](max) NOT NULL,
	[Id_Usuario] [bigint] NOT NULL,
 CONSTRAINT [PK_Telefono_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token_Login]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token_Login](
	[Id_Usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Login_Api] [varchar](max) NULL,
 CONSTRAINT [PK_Token_Login_Id] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenTutor]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenTutor](
	[TutorID] [bigint] NOT NULL,
	[API_Token] [varchar](max) NOT NULL,
 CONSTRAINT [PK_TokenTutor] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha_Inicio] [datetime] NOT NULL,
	[Fecha_Fin] [datetime] NULL,
	[Medicamento] [varchar](max) NULL,
	[Toma_Cada] [varchar](max) NULL,
	[Dosis] [varchar](max) NULL,
	[Id_Usuario] [bigint] NOT NULL,
 CONSTRAINT [PK_Tratamiendo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorPaciente]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorPaciente](
	[TutorID] [bigint] NOT NULL,
	[PacienteID] [bigint] NOT NULL,
 CONSTRAINT [PK_TutorPaciente] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC,
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/11/2019 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Apellido] [varchar](max) NULL,
	[Email] [varchar](max) NOT NULL,
	[Contrasenia] [varchar](max) NOT NULL,
	[FechaNacimiento] [datetime] NULL,
	[Estado] [bit] NULL,
	[Paciente] [bit] NULL,
	[Token] [varchar](max) NULL,
 CONSTRAINT [PK_Usuario_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerta] ON 

INSERT [dbo].[Alerta] ([Id], [Tipo_Alerta], [Id_Usuario_Paciente], [Id_Usuario_Tutor], [Tiempo], [Notas]) VALUES (1, 1, 15, 3, CAST(N'2019-10-28T17:11:37.280' AS DateTime), NULL)
INSERT [dbo].[Alerta] ([Id], [Tipo_Alerta], [Id_Usuario_Paciente], [Id_Usuario_Tutor], [Tiempo], [Notas]) VALUES (2, 2, 15, 3, CAST(N'2019-10-28T17:12:09.397' AS DateTime), NULL)
INSERT [dbo].[Alerta] ([Id], [Tipo_Alerta], [Id_Usuario_Paciente], [Id_Usuario_Tutor], [Tiempo], [Notas]) VALUES (3, 1, 15, 3, CAST(N'2019-10-28T17:44:15.743' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Alerta] OFF
SET IDENTITY_INSERT [dbo].[Medicamento] ON 

INSERT [dbo].[Medicamento] ([Id], [PacienteId], [Nombre], [PeriodicidadHoras], [Activo], [UltimaVez]) VALUES (4, 2, N'Focusín', 6, 1, CAST(N'2019-11-03T16:09:30.557' AS DateTime))
INSERT [dbo].[Medicamento] ([Id], [PacienteId], [Nombre], [PeriodicidadHoras], [Activo], [UltimaVez]) VALUES (5, 2, N'Ritalín', 8, 0, CAST(N'2019-11-03T16:09:38.527' AS DateTime))
SET IDENTITY_INSERT [dbo].[Medicamento] OFF
INSERT [dbo].[TokenTutor] ([TutorID], [API_Token]) VALUES (3, N'abc')
INSERT [dbo].[TutorPaciente] ([TutorID], [PacienteID]) VALUES (3, 15)
INSERT [dbo].[TutorPaciente] ([TutorID], [PacienteID]) VALUES (5, 2)
INSERT [dbo].[TutorPaciente] ([TutorID], [PacienteID]) VALUES (6, 2)
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contrasenia], [FechaNacimiento], [Estado], [Paciente], [Token]) VALUES (1, N'pepe', N'paciente', N'pepe@paciente.com', N'123', NULL, NULL, 1, NULL)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contrasenia], [FechaNacimiento], [Estado], [Paciente], [Token]) VALUES (2, N'pompin', N'pompin', N'pepe@gg.com', N'123', NULL, NULL, 1, NULL)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Contrasenia], [FechaNacimiento], [Estado], [Paciente], [Token]) VALUES (3, N'tutor', N'tutor', N'tutor@gg.com', N'123', NULL, NULL, 0, N'abc')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('FALSE') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Paciente]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('') FOR [Token]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Paciente] FOREIGN KEY([Id_Usuario_Paciente])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Usuario_Paciente]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Tutor] FOREIGN KEY([Id_Usuario_Tutor])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Usuario_Tutor]
GO
ALTER TABLE [dbo].[Medicamento]  WITH CHECK ADD  CONSTRAINT [FK_Medicacion] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Medicamento] CHECK CONSTRAINT [FK_Medicacion]
GO
ALTER TABLE [dbo].[Registro_Episodio]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Registro_Episodio] CHECK CONSTRAINT [FK_Registro_Usuario]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [FK_Telefono_Usuario]
GO
ALTER TABLE [dbo].[Token_Login]  WITH CHECK ADD  CONSTRAINT [FK_Token_Login_Id] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Token_Login] CHECK CONSTRAINT [FK_Token_Login_Id]
GO
ALTER TABLE [dbo].[TokenTutor]  WITH CHECK ADD  CONSTRAINT [FK_TokenTutorUsuario] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[TokenTutor] CHECK CONSTRAINT [FK_TokenTutorUsuario]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Usuario]
GO
ALTER TABLE [dbo].[TutorPaciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente] FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[TutorPaciente] CHECK CONSTRAINT [FK_Paciente]
GO
ALTER TABLE [dbo].[TutorPaciente]  WITH CHECK ADD  CONSTRAINT [FK_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[TutorPaciente] CHECK CONSTRAINT [FK_Tutor]
GO
